html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(type='text/javascript', charset='utf-8')
      include node_modules/jquery/dist/jquery.min.js
    script(type='text/javascript')
      include node_modules/bootstrap/dist/js/bootstrap.min.js
    style
      include node_modules/font-awesome/css/font-awesome.min.css
    style
      include assets/css/style.css
    style.
  body
    .section
      .container
        .row
          .col-md-12
            .btn-toolbar(role='toolbar')
              .btn-group
                a#newGameButton.btn.btn-default(type='button') New Game
                a#playAgainstHumanButton.btn.btn-default(type='button') Play Against Human
                a#playAgainstComputerButton.btn.btn-default(type='button') Play Against Computer
                a#switchSidesButton.btn.btn-default(type='button') Switch Sides
              .btn-group
              .btn-group
    .section
      .container(style='background-image: url(images/landscape.png); background-repeat: no-repeat')
        .row.game-row
          #00.col-md-2.tile
            span.helper
          #01.col-md-2.tile
            span.helper
          #02.col-md-2.tile
            span.helper
          #skyBench.col-md-6
        .row.game-row
          #10.col-md-2.tile
            span.helper
          #11.col-md-2.tile
            span.helper
          #12.col-md-2.tile
            span.helper
        .row.game-row
          #20.col-md-2.tile
            span.helper
          #21.col-md-2.tile
            span.helper
          #22.col-md-2.tile
            span.helper
        .row.game-row
          #30.col-md-2.tile
            span.helper
          #31.col-md-2.tile
            span.helper
          #32.col-md-2.tile
            span.helper
          #earthBench.col-md-6
    script(type='text/javascript')
      include dobutsu_shogi.js
